<div class="card items-container">
  <div class="card-body pl-40">
    <div class="card-title">
      Items
    </div>

    <div class="flex-container todo-form ">
      <div class="form-group mb-2 w-100">
        <input type="text" class="form-control" placeholder="Type name here..." [(ngModel)]="title">
      </div>
      <button class="btn btn-success mb-2" (click)="createTodoItem()">Success</button>
    </div>
    <div class="todo-list">

      <app-list-item *ngFor="let item of items" [item]="item"></app-list-item>

    </div>
  </div>
</div>
